body {
    background-color: #ffffff;
}

@media screen and (min-width: 200px) and (max-width: 1080px) {
    .page-newsroom {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 19px;
    
        position: relative;
        width: 100%;

        padding: 100px 25px;

        box-sizing: border-box;
    }

    .page-newsroom .back {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        gap: 15px;

        width: 100%;
        height: auto;
        margin-bottom: 25px;
        padding: 15px 25px;

        background-color: #f0f0f0;
        border-radius: 12px;

        text-decoration: none;

        box-sizing: border-box;
    }

    .page-newsroom .back p {
        font-size: 20px;
        font-weight: 600;
        color: var(--text);
    }

    .page-newsroom .back svg {
        rotate: 90deg;
        width: 20px;
        height: 20px;
    }

    .page-newsroom .back svg path {
        fill: var(--text);
        opacity: 50%;
    }

    .page-newsroom .title {
        margin-bottom: 50px;

        font-size: 50px;
        color: var(--descriptionSubTitle);
    }
    
    .page-newsroom .subtitle {
        margin-top: 25px;
        margin-bottom: 50px;

        font-size: 50px;
        color: var(--descriptionSubTitle);
    }

    .page-newsroom sub {
        font-size: 35px;
        font-weight: 500;
        letter-spacing: normal;
        color: var(--description);
    }
    
    .page-newsroom a {
        font-weight: 500;
        text-decoration: underline;
        color: var(--accent);
    }
    
    .page-newsroom p {
        font-size: 20px;
        font-weight: 400;
        color: var(--description);
    }

    .page-newsroom b {
        font-size: 20px;
        font-weight: 700;
        color: var(--description);
    }
    
    .page-newsroom img {
        width: 100%;
        border: 1px solid var(--frameBorder);
    }
    
    .page-newsroom .frame {
        background-color: var(--frameBackground);
        border: 1px solid var(--frameBorder);
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    }
    
    .page-newsroom .info {
        display: flex;
        flex-direction: column;
        gap: 10px;
    
        margin-top: -50px;
        margin-bottom: 25px;
    }
    
    .page-newsroom .info p {
        font-size: 18px;
        font-weight: 400;
        color: var(--text);
    }
    
    .page-newsroom .info p b {
        font-size: 18px;
        font-weight: 700;
        color: var(--text);
    }
    
    .page-newsroom .alt {
        margin-top: 15px;
        margin-bottom: 100px;

        font-size: 18px;
        font-weight: 400;
        color: var(--text);
    }
    
    .page-newsroom .___ {
        margin-top: 50px;
        margin-bottom: 50px;
        
        width: 100%;
        height: 1px;
    
        background-color: transparent;
    }

    .page-newsroom li {
        margin-top: 5px;
        margin-left: 35px;

        font-size: 18px;
        font-weight: 400;
        color: var(--text);
    }

    .page-newsroom li ul {
        margin-bottom: 25px;

        font-size: 18px;
        font-weight: 400;
        color: var(--text);
    }
}

@media screen and (min-width: 1081px) {
    .page-newsroom {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        gap: 19px;
    
        position: relative;
        margin: 0 150px;
        padding: 125px 300px 0px 0px;
    }

    .page-newsroom .back {
        display: none;
        position: absolute;
    }

    .page-newsroom .title {
        margin: 0;
        font-size: 30px;
        font-weight: 700;
        color: var(--descriptionSubTitle);
    }
    
    .page-newsroom .subtitle {
        margin-bottom: 12px;
        font-size: 30px;
        font-weight: 700;
        color: var(--descriptionSubTitle);
    }
    
    .page-newsroom a {
        font-weight: 500;
        text-decoration: underline;
        color: var(--accent);
    }
    
    .page-newsroom p {
        font-weight: 500;
        color: var(--description);
    }
    
    .page-newsroom img {
        width: 1000px;
        border-radius: 8px;
        border: 1px solid var(--frameBorder);
    }
    
    .page-newsroom .frame {
        background-color: var(--frameBackground);
        border: 1px solid var(--frameBorder);
        border-radius: 15px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    }
    
    .page-newsroom .info {
        display: flex;
        flex-direction: row;
        gap: 50px;
    
        margin-top: -10px;
        margin-bottom: 10px;
    }
    
    .page-newsroom .info p {
        font-weight: 600;
        color: var(--infoText);
    }
    
    .page-newsroom .info p b {
        font-weight: 600;
        color: var(--infoBold);
    }
    
    .page-newsroom .alt {
        font-size: 16px;
        font-weight: 600;
        color: var(--altText);
    }
    
    .page-newsroom .___ {
        margin-top: 12px;
        margin-bottom: 50px;
        
        width: 100%;
        height: 1px;
    
        background-color: var(--frameBorder);
    }

    .page-newsroom li {
        margin-left: 35px;
    }

    .page-newsroom li ul {
        margin-bottom: 25px;
    }
}

.page-newsroom-newsroom.failed {
    flex-shrink: 1;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
    width: 100%;
    height: 650px;
}

.page-newsroom-newsroom.failed h1 {
    font-size: 100px;
    color: var(--text);
}

.page-newsroom-newsroom .failed h2 {
    font-size: 50px;
    color: var(--text);
}