body {
    background-color: #ffffff;
}

.navbar {
    background: transparent;
}

header .left a h1 { color: #ffffff }
header .left #toggleNavbar svg path { fill: #ffffff }
header .center a { color: #ffffff }
header .center a:nth-child(odd) { background: none;}
header .right .redirect { 
    background-color: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(255, 255, 255, 0.12);
    color: #ffffff;
}


@media screen and (min-width: 200px) and (max-width: 1080px) {
    .page-about {
        display: flex;
        flex-direction: column;
        gap: 19px;
    
        position: relative;
        width: 100%;
        
        box-sizing: border-box;
    }
    
    .page-about #about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    
        position: relative;
        width: 100%;
        height: 400px;
        margin-top: -125px;
        padding: 50px 25px 0 25px;
    
        background-color: #000000;
        text-align: center;
    
        box-sizing: border-box;
    }
    
    .page-about #about #overlay {
        position: absolute;
        top: 0; left: 0;
        width: 100%;
        height: 100%;
    
        background-color: #000000;
        mix-blend-mode: hue;
    
        z-index: 1;
    }
    
    .page-about #about #backdrop {
        position: absolute;
        top: 0; left: 0;
        width: 100%;
        height: 100%;
    
        opacity: 50%;
        object-fit: cover;
    }
    
    .page-about #about h1 {
        font-size: 60px;
        font-weight: 700;
        color: #ffffff;
        z-index: 2;
    }
    
    .page-about #about p {
        font-size: 18px;
        color: #ffffff;
        z-index: 2;
    }
    
    .page-about #description { 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    
        padding: 50px 25px;

        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }
    
    .page-about #description p {
        width: 100%;
        height: auto;
    
        letter-spacing: 0.5px;
        font-size: 20px;
        font-weight: 400;
        color: var(--text);
        text-align: center;
    }
    
    .page-about #values {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    
        position: relative;
        width: 100%;
        height: auto;
        padding: 25px 25px;
    
        background-color: #ffffff;
        box-sizing: border-box;
    }
    
    .page-about #values img {
        width: 100%;
    }
    
    .page-about #values .wrapper {
        display: flex;
        flex-direction: column;
        gap: 100px;
    
        padding: 10px;
        height: auto;
    
        box-sizing: border-box;
    }
    
    .page-about #values .wrapper h1 {
        text-align: center;
        font-size: 45px;
        font-weight: 700;
        color: var(--previewsTitle);
    }
    
    .page-about #values .wrapper div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    
        width: 100%;
        height: auto;
    }
    
    .page-about #values .wrapper div .top {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: center;
        gap: 20px;        
    }
    
    .page-about #values .wrapper div h1 {
        text-align: center;
        font-size: 30px;
        font-weight: 600;
        color: var(--previewsTitle);
    }
    
    .page-about #values .wrapper div p {
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        color: var(--previewsText);
    }
    
    .page-about #values .wrapper div svg {
        width: 50px;
        height: 50px;
    }
    
    .page-about #values .wrapper div svg path { fill: var(--previewsTitle) }

    .page-about .hidden {
        opacity: 0;
        transform: translateY(100%);
        transition: all 1s;
    }  
    
    .page-about .hiddenBlur {
        opacity: 0;
        filter: blur(5px);
        transform: translateY(100%);
        transition: all 1s;
    }
    
    .page-about .show {
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
    
    @media(prefers-reduced-motion) {
        .page-about .hidden {
            transition: none;
        }
    }
        
    .page-about #previews .wrapper h1 { transition-delay: 100ms}
    .page-about #previews .wrapper div:nth-child(2) { transition-delay: 200ms}
    .page-about #previews .wrapper div:nth-child(3) { transition-delay: 300ms}
    .page-about #previews .wrapper div:nth-child(4) { transition-delay: 400ms}
    
    .page-about #community p, .page-about #community a { transition-delay: 200ms };
}

@media screen and (min-width: 1081px) {
    .page-about {
        display: flex;
        flex-direction: column;
        gap: 19px;
    
        position: relative;
        width: 100%;
        padding-top: 125px;
    
        box-sizing: border-box;
    }
    
    .page-about #about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    
        position: relative;
        width: 100%;
        height: 550px;
        margin-top: -125px;
        padding: 0 500px;
    
        background-color: #000000;
        text-align: center;
    
        box-sizing: border-box;
    }
    
    .page-about #about #overlay {
        position: absolute;
        top: 0; left: 0;
        width: 100%;
        height: 100%;
    
        background-color: #000000;
        mix-blend-mode: hue;
    
        z-index: 1;
    }
    
    .page-about #about #backdrop {
        position: absolute;
        top: 0; left: 0;
        width: 100%;
        height: 100%;
    
        opacity: 50%;
        object-fit: cover;
    }
    
    .page-about #about h1 {
        font-size: 60px;
        font-weight: 700;
        color: #ffffff;
        z-index: 2;
    }
    
    .page-about #about p {
        font-size: 18px;
        color: #ffffff;
        z-index: 2;
    }
    
    .page-about #description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    
        padding: 50px;
    }
    
    .page-about #description p {
        width: 930px;
        height: auto;
    
        letter-spacing: 0.5px;
        font-size: 20px;
        font-weight: 400;
        color: var(--text);
        text-align: left;
    }
    
    .page-about #values {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 50px;
    
        position: relative;
        width: 100%;
        height: auto;
        padding: 150px;
    
        background-color: #ffffff;
        box-sizing: border-box;
    }
    
    .page-about #values img {
        width: 742px;
        height: 505.91px;
    }
    
    .page-about #values .wrapper {
        display: flex;
        flex-direction: column;
        gap: 50px;
    
        padding: 10px;
        height: auto;
    
        box-sizing: border-box;
    }
    
    .page-about #values .wrapper h1 {
        font-size: 50px;
        font-weight: 700;
        color: var(--previewsTitle);
    }
    
    .page-about #values .wrapper div {
        display: flex;
        flex-direction: column;
        gap: 20px;
    
        width: 100%;
        height: auto;
    }
    
    .page-about #values .wrapper div .top {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 18px;
    }
    
    .page-about #values .wrapper div h1 {
        font-size: 30px;
        font-weight: 600;
        color: var(--previewsTitle);
    }
    
    .page-about #values .wrapper div p {
        font-size: 20px;
        font-weight: 500;
        color: var(--previewsText);
    }
    
    .page-about #values .wrapper div svg {
        width: 30px;
        height: 30px;
    }
    
    .page-about #values .wrapper div svg path { fill: var(--previewsTitle) }

    .page-about .hidden {
        opacity: 0;
        transform: translateY(100%);
        transition: all 1s;
    }  
    
    .page-about .hiddenBlur {
        opacity: 0;
        filter: blur(5px);
        transform: translateY(100%);
        transition: all 1s;
    }
    
    .page-about .show {
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
    
    @media(prefers-reduced-motion) {
        .page-about .hidden {
            transition: none;
        }
    }
        
    .page-about #previews .wrapper h1 { transition-delay: 100ms}
    .page-about #previews .wrapper div:nth-child(2) { transition-delay: 200ms}
    .page-about #previews .wrapper div:nth-child(3) { transition-delay: 300ms}
    .page-about #previews .wrapper div:nth-child(4) { transition-delay: 400ms}
    
    .page-about #community p, .page-about #community a { transition-delay: 200ms };
}