body {
    background-color: #ffffff;
}

.page .frame {
    background-color: var(--frameBackground);
    border: 1px solid var(--frameBorder);
    border-radius: 15px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}




@media screen and (min-width: 200px) and (max-width: 1080px) { 
    .page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        gap: 19px;
    
        min-width: 100px;
    
        position: relative;
        padding: 57px 25px;
        box-sizing: border-box;
    }
    
    .page h1 {
        margin-top: 5px;
    
        font-size: 25px;
        font-weight: 600;
        color: #475569;
    }
    
    .page .scrollFrame {
        box-sizing: border-box;
    }
    
    .page .link {
        font-size: 15px;
        font-weight: 500;
        text-decoration: underline;
        color: var(--accent);
    }
    
    .page .container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: left;
        gap: 75px;
    
        padding-bottom: 10px;
    }
    
    .page .container a {
        flex-shrink: 0;
        flex-grow: 0;
    
        display: flex;
        flex-direction: column;
        justify-content: left;
        gap: 12px;
    
        width: 100%;
        height: auto;
    
        border: 1px solid var(--frameBorder);
        border-radius: 12px;
    
        overflow: hidden;
        box-sizing: border-box;
    }
    
    .page .image {
        margin-bottom: 15px;
        width: 100%;
        height: auto;
    
        overflow: hidden;
    }
    
    .page .image img {
        width: 100%;
        height: 100%;
    
        transition: ease 0.25s;
    }
    
    .page .content {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 0 30px 30px 30px;
    
        height: auto;
    }
    
    .page .content h3 {
        width: 100%;

        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1px;
        text-wrap: wrap;
        color: var(--infoText);
    }
    
    .page .content h2 {
        width: 100%;
    
        font-size: 30px;
        font-weight: 600;
        color: var(--text);
    }
    
    .page .content h2 .version {
        margin-left: 5px;
        font-size: 18px;
        font-weight: 600;
        color: #7f8085; 
    }
    
    .page .bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        padding: 0 30px 30px 30px;
    }
    
    .page .bottom .read {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
    }
    
    .page .bottom .read p {
        align-items: center;
    
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1px;
        color: var(--infoText);
    }
    
    .page .bottom .read svg {
        width: 14px;
        rotate: -90deg;
    }
    
    .page .bottom .read svg path {
        fill: var(--infoText);
    }
    
    .page .bottom sup {
        font-size: 14px;
        font-weight: 600;
        color: #363636;
    }
}

@media screen and (min-width: 1081px) {
    .page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        gap: 19px;
    
        min-width: 100px;
    
        position: relative;
        margin: 0 150px;
        padding: 125px 0px 57px 0;
    
        box-sizing: border-box;
    }
    
    .page h1 {
        margin-top: 5px;
    
        font-size: 25px;
        font-weight: 600;
        color: #475569;
    }
    
    .page .scrollFrame {
        box-sizing: border-box;
    }
    
    .page .link {
        font-size: 15px;
        font-weight: 500;
        text-decoration: underline;
        color: var(--accent);
    }
    
    .page .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: left;
        gap: 30px;
    
        padding-bottom: 10px;
        overflow-x: auto;
    }
    
    .page .container a {
        flex-shrink: 0;
        flex-grow: 0;
    
        display: flex;
        flex-direction: column;
        justify-content: left;
        gap: 12px;
    
        width: 350px;
        height: auto;
    
        border-radius: 12px 12px 8px 8px;
    
        overflow: hidden;
        box-sizing: border-box;
    }
    
    .page .image {
        margin-bottom: 15px;
        width: 350px;
        height: 171px;
    
        overflow: hidden;
    }
    
    .page .image img {
        position: relative;
        top: 50%; left: 50%; transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
    
        transition: ease 0.25s;
    }
    
    .page .image img:hover {
        width: 103%;
        height: 103%;
    
        transition: ease 0.25s;
    }
    
    .page .content {
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 0 15px 15px 15px;
    
        height: 75px;
    }
    
    .page .content h3 {
        width: 100%;
    
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1px;
        text-wrap: wrap;
        color: var(--infoText);
    }
    
    .page .content h2 {
        width: 100%;
    
        font-size: 21px;
        font-weight: 600;
        line-height: 24.5px;
        text-wrap: wrap;
        color: var(--text);
    }
    
    .page .content h2 .version {
        font-size: 15px;
        font-weight: 600;
        color: #7f8085; 
    }
    
    .page .bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        padding: 0 15px 15px 15px;
        margin-top: 8px;
    }
    
    .page .bottom .read {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
    }
    
    .page .bottom .read p {
        align-items: center;
    
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 1px;
        color: var(--infoText);
    }
    
    .page .bottom .read svg {
        width: 12px;
        rotate: -90deg;
    }
    
    .page .bottom .read svg path {
        fill: var(--infoText);
    }
    
    .page .bottom sup {
        font-size: 14px;
        font-weight: 600;
        color: #363636;
    }
}