@media screen and (min-width: 200px) and (max-width: 1080px) {
    header, .navbar { 
        display: flex;
        flex-direction: column;
        justify-content: top;
        align-items: center;
    
        position: relative;
        top: 0; left: 0;
        width: 100%;
        height: auto;
        padding: 15px 0;

        background-color: #ffffff;

        box-sizing: border-box;
        z-index: 99;
    }

    header .left {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        width: 100%;
        padding: 0 25px 10px 25px;
        box-sizing: border-box;
    }

    header .center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;

        width: 100%;
        box-sizing: border-box;
    }
    
    header .right {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        width: 100%;
        padding: 25px 25px 10px 25px;

        box-sizing: border-box;
    }

    header .left a {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        gap: 10px;
    }
    
    header .left a h1 {
        margin-top: 5px;

        font-family: "Josefin Sans";
        font-size: 20px;
        font-weight: 500;
        color: var(--title);
    }
    
    header .left a img {
        width: 30px;
        height: 30px;
    }

    header .left #toggleNavbar {
        background: transparent;
        border: none;
    }

    header .left #toggleNavbar svg {
        width: 25px;
        height: 25px;
        padding: 10px 0px 10px 10px;;
    }

    header .center a {
        padding: 15px 25px;
 
        font-size: 20px;
        font-weight: 400;
        color: var(--text);
    }

    header .center a:nth-child(odd) {
        background-color: #f2f2f2;
    }
    
    header .right .redirect {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    
        padding: 15px 32px;
    
        background: rgba(0, 0, 0, 0.04);
        border: 1px solid rgba(0, 0, 0, 0.12);;
        border-radius: 8px;
    
        font-size: 18px;
        font-weight: 500;
        color: var(--text);
    
        box-sizing: border-box;
    }
    
    header .right .redirect svg {
        width: 20px;
        height: 20px;
    }
    
    header .right .redirect svg path {
        fill: var(--headerRedirectText);
    }
    
    header .right .button {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    
        padding: 15px 32px;
    
        background: var(--accentGradient);
        border-radius: 8px;
    
        font-size: 18px;
        font-weight: 500;
        color: var(--headerButtonText);
    
        box-sizing: border-box;
    }
    
    header .right .button svg {
        width: 20px;
        height: 20px;
    }
    
    header .right .button svg path {
        fill: var(--headerButtonText);
    }

    header .center.collapsed, header .right.collapsed {
        display: none;
    }
}

@media screen and (min-width: 1081px) {
    header, .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    
        position: absolute;
        top: 0; left: 0;
        width: 100%;
        height: 100px;
        padding: 0 150px;
    
        box-sizing: border-box;
        z-index: 99;
    }
    
    header .left {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        gap: 10px;
    }
    
    header .center {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
    
    header .right {
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: center;
        gap: 12px;
    }
    
    header .left a {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        gap: 10px;
    }
    
    header .left a h1 {
        margin-top: 5px;

        font-family: "Josefin Sans";
        font-size: 20px;
        font-weight: 500;
        color: var(--title);
    }
    
    header .left a img {
        width: 30px;
        height: 30px;
    }
    
    header .left #toggleNavbar { display: none }

    header .center a {
        font-size: 16px;
        font-weight: 400;
        color: var(--text);
    }
    
    header .right .redirect {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    
        padding: 10px 20px;
    
        background: rgba(0, 0, 0, 0.04);
        border: 1px solid rgba(0, 0, 0, 0.12);
        border-radius: 8px;
    
        color: var(--text);
    
        box-sizing: border-box;
    }
    
    header .right .redirect svg {
        width: 20px;
        height: 20px;
    }
    
    header .right .redirect svg path {
        fill: var(--headerRedirectText);
    }
    
    header .right .button {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    
        padding: 10px 20px;
    
        background: var(--accentGradient);
        border-radius: 8px;
    
        color: var(--headerButtonText);
    
        box-sizing: border-box;
    }
    
    header .right .button svg {
        width: 20px;
        height: 20px;
    }
    
    header .right .button svg path {
        fill: var(--headerButtonText);
    }
}